<p style="color: green"><%= notice %></p>

<h1>Menu items</h1>

<div id="menu_items">
<!--   <% @menu_items.each do |menu_item| %>
    <%= render menu_item %>
    <p>
      <%= link_to "Show this menu item", menu_item %>
    </p>
  <% end %> -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Show</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
  
    <% @menu_items.each_with_index do |menu_item, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= menu_item.name %></td>
        <td><%= menu_item.description %></td>
        <td><%= menu_item.price %></td>
        <td><%= menu_item.categories.pluck(:name).join(", ") %></td>
        <td><%= button_to 'Show', menu_item_path(menu_item), method: 'get' %></td>
        <td><%= button_to 'Edit', edit_menu_item_path(menu_item), method: 'get' %></td>
        <td><%= button_to 'Delete', menu_item_path(menu_item), method: 'delete' %></td>
      </tr>
    <% end %>
  
    </tbody>
  </table>
</div>

<%= link_to "New menu item", new_menu_item_path %>
