<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :order_date, style: "display: block" %>
    <%= form.datetime_field :order_date %>
  </div>

  <div>
    <%= form.label :total_price, style: "display: block" %>
    <%= form.text_field :total_price %>
  </div>

  <div>
    <%= form.label :customer_name, style: "display: block" %>
    <%= form.text_field :customer_name %>
  </div>

  <div>
    <%= form.label :customer_email, style: "display: block" %>
    <%= form.text_field :customer_email %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <button><%= link_to_add_nested(form, :order_details, '#order-details', link_text: "Add new Order Detail") %></button> <!-- adds a link to add more items -->
  <div id='order-details'>
    <%= form.fields_for :order_details do |order_detail_f| %>
      <%= render 'order_detail_fields', form: order_detail_f %>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
