<div class="wrapper-div">
  <% arr_menu_item = MenuItem.all.map { |menu_item| [menu_item.name + " - Price : " + menu_item.price.to_s, menu_item.id] } %>
  <%= form.label :menu_item_id %>
  <%= select_tag(:menu_item_id,  options_for_select(arr_menu_item)) %>
  <%= form.label :quantity %>
  <%= form.text_field :quantity %>
  <button><%= link_to_remove_nested(form) %></button>
</div>